<footer class="footer" role="contentinfo">
    <small>
<a href="/index">Accueil</a>
- <a href="/contact">Contact</a>
- <a href="/credits">Crédits</a>
- <a href="/mentions">Mentions légales</a>
- <a href="/cgu">CGU</a>
- <a href="https://www.facebook.com/{{ site.social.facebook }}" target="blank"><span class="social-icon fb"></a>
<a href="https://www.instagram.com/{{ site.social.instagram }}" target="blank"></span><span class="social-icon ig"></span></a>
<br/>
© Association Courir Paléo | 91330 Yerres | France
    </small>
</footer>
