<footer class="footer" role="contentinfo">
    <small>
© Association Courir Paléo - Allée Lavoisier - 91330 Yerres - France
<br/>
<a href="tel:+33676131775">+33 6 76 13 17 75</a>
- <a href="mailto:info@courirpaleo.fr">info@courirpaleo.fr</a>
- <a href="/mentions">Mentions légales</a>
- <a href="/cgu">CGU</a>
- <a href="/atom.xml" target="blank">Flux RSS</a>
- <a href="https://www.facebook.com/{{ site.social.facebook }}" target="blank"><span class="social-icon fb"></a>
<a href="https://twitter.com/{{ site.social.twitter }}" target="blank"></span><span class="social-icon tw"></a>
<a href="https://www.instagram.com/{{ site.social.instagram }}" target="blank"></span><span class="social-icon ig"></span></a>
    </small>
</footer>
