<nav role="navigation">
    <ul>
        <li {% if page.url == "/" %}class="active"{% endif %}><a href="/">Accueil</a></li>
        <li {% if page.url == "/qui-sommes-nous" %}class="active"{% endif %}><a href="/qui-sommes-nous">Qui sommes-nous / l’association</a></li>
        <li {% if page.url == "/la-course-naturelle" %}class="active"{% endif %}><a href="/la-course-naturelle">La course naturelle</a></li>
        <li {% if page.url == "/sorties-et-ateliers" %}class="active"{% endif %}><a href="/sorties-et-ateliers">Sorties & ateliers</a></li>
        <li {% if page.url == "/photos-et-videos" %}class="active"{% endif %}><a href="/photos-et-videos">Photos & vidéos</a></li>
        <li {% if page.url == "/ressources" %}class="active"{% endif %}><a href="/ressources">Ressources</a></li>
    </ul>
</nav>
