<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox" class="hamburger" />

        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <ul id="menu">
            <li {% if page.url == "/" %}class="active"{% endif %}><a href="/">Accueil</a></li>
            <li {% if page.url == "/nous-rejoindre" %}class="active"{% endif %}><a href="/a-propos">Nous rejoindre</a></li>
            <li {% if page.url == "/a-propos" %}class="active"{% endif %}><a href="/a-propos">À propos</a></li>
            <li {% if page.url == "/contact" %}class="active"{% endif %}><a href="/la-course-naturelle">Contact</a></li>
        </ul>
    </div>
</nav>
