@font-face {
    font-family: 'brizeuxbold';
    src: url('../assets/fonts/brizeux.woff2') format('woff2'),
         url('../assets/fonts/brizeux.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paysage';
    src: url('../assets/fonts/Paysage-Medium.woff2') format('woff2'),
         url('../assets/fonts/Paysage-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paysage';
    src: url('../assets/fonts/Paysage-Bold.woff2') format('woff2'),
         url('../assets/fonts/Paysage-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


.logo {
  width: 30%;
  float: left;
  margin-top: 0px;
}

.nav a {
  font-family: 'brizeuxbold';
  text-transform: uppercase;
}
nav ul li.active {
color: #D15726;
}

body {
  font-family: 'paysage';
}

h1 {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
  font-family: 'brizeuxbold';
  letter-spacing: 1px;
  margin-block-end: 0em;
}

h1 {
margin-top: 2rem;
margin-bottom: 1rem;
font-size: 1.9em;
}

h3 {
margin-top: 1rem;font-size: 1.3em; color: #D15726;
}

h4 {
font-size: 1.1em;
margin-bttom: 1rem;
}

h5 {
margin-block-start: 0em;
color: #74777c;
}

p {
margin-block-start: 0em;
}

article a:hover {
color: #D15726;
text-decoration: none;
}

footer a:hover {
color: #D15726;
text-decoration: none;
}

p a:hover {
color: #D15726;
text-decoration: none;
}

@media (max-width: 640px) {
  .post {
    padding: 1rem 1rem;
  }


  .logo {
    width: 60%;
    margin-left: 10px;
  }
}
