$text-color: #495057;
$bg-color: #edf2f7;

$post-shadow-color: rgba(18, 38, 63, 0.03);
$card-shadow-color: rgba(18, 38, 63, 0.03);

$link-active-color: #3379be;
$link-hover-color: #dee7f1;

$cards-bg-colors: [#96d0c3, #ef7d4d, #fbcfb9, #fac14e];

$hamburger-bg-color: white;

html {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: $bg-color;
  color: $text-color;
}

header, main {
  margin: 0 auto;
  max-width: 50rem;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(10rem,auto);
  grid-gap: 1rem
}

.card {
  display: flex;
  align-items: left;
  justify-content: left;
  min-height: 10rem;
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  flex: 1 1 10rem
}

@supports (display:grid) {
  .card {
    margin: 0
  }
}
.card:nth-child(1n) {
  background: nth($cards-bg-colors, 1);
}
.card:nth-child(2n) {
  background: nth($cards-bg-colors, 2);
}
.card:nth-child(3n) {
  background: nth($cards-bg-colors, 3);
}
.card:nth-child(4n) {
  background: nth($cards-bg-colors, 4);
}

.card:nth-child(5n + 1) {
  background: nth($cards-bg-colors, 2);
}

.card:nth-child(6n + 1) {
  background: nth($cards-bg-colors, 2);
}

.card:nth-child(7n +1) {
  background: nth($cards-bg-colors, 4);
}


.card:nth-child(4n + 1) {
  background: nth($cards-bg-colors, 4);
}
.card:nth-child(4n + 2) {
  background: nth($cards-bg-colors, 3);
}
.card:nth-child(4n + 3) {
  background: nth($cards-bg-colors, 2);
}
.card:nth-child(4n + 4) {
  background: nth($cards-bg-colors, 1);
}

.card {
  background: white;
  -webkit-box-shadow: 0 0.75rem 1.5rem $card-shadow-color;
  box-shadow: 0 0.75rem 1.5rem $card-shadow-color;
  text-decoration: none;
  color: inherit;
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card a {
  text-decoration: none;
}

.card p {
  font-size: 0.9rem;
}

.card h2 {
  font-size: 1.3rem;
  margin: 0;
}

.card time {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.card .meta {
  padding: 2rem;
  display: flex;

  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}

.post {
  background: white;
  padding: 2rem 3rem;
  -webkit-box-shadow: 0 0.75rem 1.5rem $post-shadow-color;
  box-shadow: 0 0.75rem 1.5rem $post-shadow-color;
  margin-bottom: 1.5em;
}

.card {
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  &:hover {
    transform: scale(1.02);
  }
}
ul, ol {
  padding: 0;
  list-style-position: inside;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;

  tr {
    border-bottom: 1px solid black;
  }

  td {
    padding: 0.5rem;
  }
}

img {
  width: 100%;
  margin: 0.5rem 0;
}

nav {
  ul {
    list-style: none !important;
    padding: 0;
    text-align: right;

    li {
      display: inline-block;
      border-radius: 3px;
      &.active {
        color: $link-active-color;
      }
      &:hover {
        background-color: $link-hover-color;
      }
    }
  }
  a, a:visited {
    margin: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: .05em;
  }

a:hover
{
color: #D15726;
underlined: none;
}

}

footer {
  margin: 1rem 0;
  text-align: center;
  .social-icon {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    vertical-align: middle;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    &.fb {
      background-color: #1877f2;
      -webkit-mask-image: url(/assets/images/facebook-square-brands.svg);
      mask-image: url(/assets/images/facebook-square-brands.svg);
    }
    &.tw {
      background-color: #1da1f3;
      -webkit-mask-image: url(/assets/images/twitter-square-brands.svg);
      mask-image: url(/assets/images/twitter-square-brands.svg);
    }
    &.ig {
      background-color: #e1306c;
      -webkit-mask-image: url(/assets/images/instagram-square-brands.svg);
      mask-image: url(/assets/images/instagram-square-brands.svg);
    }
  }
}

#menuToggle input {
  opacity: 0;
}

@media (max-width: 640px) {
  header {
    height: 50px;
  }

  #menuToggle {
    display: block;
    position: relative;
    top: 10px;
    left: 10px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;

    .hamburger {
      position: absolute;
      right: 15px;
    }

    input {
      display: block;
      width: 33px;
      height: 25px;
      margin: -2px 0 0 -5px;

      cursor: pointer;

      z-index: 2;

      -webkit-touch-callout: none;
    }

    span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;

      background: $text-color;
      border-radius: 3px;

      z-index: 1;

      transform-origin: 4px 0px;

      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;

      &:first-child {
        transform-origin: 0% 0%;
      }

      &:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
    }

    input:checked ~ div span {
      opacity: 1;
      transform: rotate(45deg) translate(0px, -4px);
      background: $text-color;

      &:nth-last-child(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      &:nth-last-child(1) {
        transform: rotate(-45deg) translate(0, -1px);
      }
    }

    input:checked ~ ul {
      transform: none;
    }
  }


  #menu {
    position: absolute;
    margin: -18px 0 0 -18px;
    padding: 10px;
    padding-top: 50px;

    background: $hamburger-bg-color;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(0, -100%);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu li {
    width: 100%;
    padding: 5px 0;
    font-size: 22px;
    &:hover {
      background-color: initial;
    }
  }
}
